/* small monitor */
@media (max-width: 1399px){
    .main-menu ul li {
        margin-right: 4px;
    }
}

@media (max-width: 1201px){
    .main-menu .navbar-brand{
        display: inline-block;
        margin-left: 15px;
    }
}
@media (max-width: 1199px){
    .main-menu .nav-link{
        margin-left: 20px;
    }
    .main-menu .nav-bar-inner {
        width: 95%;
        margin: 0 auto;
    }
    .main-menu ul li {
        margin-right: 0px;
    }
}
/* tab */
@media (max-width: 768px){
    .banner-content {
        margin-top: 10px;
    }
    .banner-content h1 {
        font-size: 65px;
    }
    .banner-section {
        padding-bottom: 20px;
    }
    .little-aboutus, .services{
        padding-bottom: 40px;
    }
    .footer-top h4{
        margin-top: 20px;
    }
}
/* mobile */
@media (max-width: 768px){
    .banner-content h1 {
        font-size: 47px;
    }
}
/* small mobile */
@media (max-width: 497px){
    .banner-content h1 {
        font-size: 37px;
    }
}
@media (max-width: 309px){
    .header-top nav .nav-link {
        font-size: 12px;
    }
}
@media (max-width: 261px){
    .header-top input.search-box{
        width: 100%;
    }
    .header-middle .logo h1{
        font-size: 25px;
    }
    .header-middle .logo h1::first-letter{
        font-size: 35px;
    }
    .header-top input.submit {
        top: 8.8px;
        right: 2px;
    }
}