body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: Georgia, sans-serif;
}
img{
    max-width: 100%;
}
/* header top */
.header-top{
    background: #ba2e1f;
    display: flex;
    align-content: center;
    padding: 7px 0;
}
.mini-menu{
    padding-top: 7px;
}
.header-top nav .nav-link{
    color: #fff;
    padding-right: 3px !important;
    padding-left: 0 !important;
    font-size: 14px;
    transition: .3s;
}
.header-top nav .nav-link:hover{
    color: #ddd;
}
.header-top nav .nav-link:focus{
    color: #ddd;
}
.header-top nav .nav-link::after{
    content: "|";
    padding-left: 3px;
}
.header-top nav .nav-link:last-child::after{
    display: none;
}
.header-top form{
    position: relative;
}
.header-top input.search-box{
    display: inline-block;
    border: 1px solid transparent;
    outline: none;
    border-radius: 25px;
    width: 243px;
    padding: 2% 15% 2% 5%;
    box-sizing: border-box;
    color: #000;
    margin: 7px 0;
}
.header-top .submit{
    position: absolute;
    top: 9.8px;
    right: 3px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: #ba2e1f;
    color: #fff;
    transition: .3s;
}
.header-top .submit:hover{
    background: #333;
}
.header-top .submit:focus{
    outline: none;
    background: #333;
}
/* header section */
.header-middle{
    padding: 40px 0;
}
.main-menu .navbar-brand{
    display: none;
}
.header-middle h1::selection{
    background: #3390ff !important;
    color: #fff !important;
}
.header-middle h1{
    font-size: 36px;
    margin-bottom: 0;
}
.header-middle h1::first-letter{
    font-size: 46px;
}

.header-middle p{
    font-size: 14px;
}
/* social menu */
.social-menu{
    margin-top: 21px;
}
.social-menu ul{
    list-style: none;
    padding-left: 0;
}
.social-menu ul li{
    display: inline-block;
}
.social-menu ul li a{
    display: inline-block;
    background: #333333;
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    transition: .3s;
}
.social-menu ul li a:hover{
    background: #ee802f;
}
/* main menu */
.main-menu{
    margin-top: 35px;
}
.main-menu .nav-bar-inner{
    width: 90%;
    margin: 0 auto;
}
.main-menu ul li{
    display: inline-block;
    margin-right: 27px;
}
.main-menu ul li:last-child{
    margin-right: 0;
}
.main-menu ul li a{
    color: #fff !important;
    font-size: 17px;
}
.main-menu ul ul li{
    display: block;
}
.main-menu ul ul li a{
    display: block;
    color: #000 !important;
}
.main-menu ul ul li a:hover{
    background: #fff !important;
}
.main-menu ul>li a:hover{
    color : #e03421 !important;
}
.main-menu ul>li a:focus{
    color : #e03421 !important;
}
/* banner section */
.banner-section img{
    width: 470px;
    height: auto;

}
.banner-content{
    margin-top: 115px;
}
.banner-content h1{
    font-size: 86px;
}
.banner-content p{
    font-size: 16px;
    color: #878787;
}
/* link */
a.more{
    font-size: 16px;
    color: #ba2e1f;
    text-decoration: none;
    float: right;
}
a.more::after{
    content: " \f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;

}
a.more:hover, a.more:focus{
    color: #97271b;
}
/* about us section */
.aboutus-section{
    background: #f2f2f2;
    padding: 50px 0;
}
.aboutus-section h3{
    font-size: 25px;
    margin-bottom: 50px;
}
.aboutus-section p{
    font: 14px;
    color: #878787;
    text-align: justify;
}
.aboutus-section .little-aboutus img{
    margin-bottom: 20px;
    width: 100%;
}
.service-pic{
    width: 22%;
}
.service-content{
    width: 75%;
}
.services h6{
    color: #878787;
    font-size: 16px;
    font-weight: bold;
}
.services a{
    margin-top: 5px;
}
.clint-info h5{
    font-size: 18px;
    color: #878787;
    margin-top: 20px;
}
.clint-info img{
    height: auto;
    width: 85px;
}
.clint-info p{
    margin-top: 5px;
    font-size: 15px;
}
.clint-info{
    margin-bottom: 70px;
}
/* footer top */
.footer-top{
    padding: 30px 0;
}
.footer-top h4{
    font-size: 19px;
    color: #666666;
    padding-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid #666;
}
.footer-top p{
    color: #666;
    font-size: 16px;
}
.footer-top .red{
    color: #b92d1f;
}
.footer-top ul{
    list-style: none;
    padding-left: 0;
}
.footer-top ul li{
    display: block;
    border-bottom: 2px solid #d4d4d4;
}
.footer-top ul li a{
    display: block;
    color: #666;
    font-size: 16px;
    text-decoration: none;
    margin: 5px 0;
}
.footer-top ul li a::before{
    content: " \f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #555555;
    font-size: 16px;
    margin-right: 5px;
}
.footer-top ul li a:hover{
    color: #999;
}
.footer-top .post h5{
    color: #666;
}
.footer-top form .form-control{
    background: #f2f2f2;
    outline: none;
    border-radius: 6px;
    padding: 11px 10px;
    border:1px solid transparent;
}
.footer-top form textarea{
    height: 150px;
}
.footer-top form .form-control:focus{
    border: 1px solid #666;
    box-shadow: none !important;
    outline: none;
}
.footer-top form .btn{
    border-color: transparent;
    background: #f2f2f2;
    color: #ba2e1f;
    font-size: 15px;
    padding: 8px 7px;
}
.footer-top form .btn:hover{
    background: #ba2e1f;
    color: #f2f2f2;
}
/* footer */
footer{
    background: #f2f2f2;
    padding: 25px 0;
}
footer p{
    font-size: 14px;
    color: #666;
    margin-bottom: 0 !important;
}